
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('font/Mark Simonson - Proxima Nova Semibold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_lightit';
  src: url('font/Mark Simonson - Proxima Nova Light Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_bold';
  src: url('font/Mark Simonson - Proxima Nova Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_nova_regular";
  src: url('font/Mark Simonson - Proxima Nova Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_nova_light";
  src: url('font/Mark Simonson - Proxima Nova Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_nova_extrabold";
  src: url('font/Mark Simonson - Proxima Nova Extrabold.otf');
  font-weight: normal;
  font-style: normal;
}

#wrapper{
  margin:-16px;
}
.container{
  margin: 0px auto;
  text-align: center;
  width: 940px;

}
#big_header{
  background: url("../images/background1.jpg");
  background-size: 100% 100%;
  color: #ffffff;
}
.unstyed_inline {
  list-style: none;
}
.unstyed_inline li{
  display: inline-block;
}
#big_header .unstyed_inline li{
  border-style: solid ;
  border-width: 1px;
  border-color: transparent;
  margin-top: 50px;

}
#big_header .unstyed_inline li:hover,li:visited,li:active {
  border-color: #ffffff;
}
.unstyed_inline a{
  text-decoration: none;
  font-family: 'proxima_nova_semibold';
  letter-spacing: 1px;
  word-spacing: 1px;
  display: block;
}
#big_header .unstyed_inline a{
  color:#ffffff;
  font-size: 12px;
  padding: 7px 17px;
}
#logo1{
  margin-top: 143px;
}
#logo1 span {
  display: inline-block;
  font-size: 24.92px;
  font-family: 'proxima_nova_bold';
  vertical-align: middle;
  letter-spacing: 1px;
}
#content_page1 h1{
  font-family: 'proxima_nova_regular';
  font-size: 28px;
  margin-top: 25px;
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: 1px;
  border-color: #b7e7ed;
  display: inline-block;
  padding: 13px 9px;
  padding-left: 20px;
  word-spacing: 9px;
  letter-spacing: 10px;
}
p{
  font-family: 'proxima_nova_light';
  font-size: 14px;
  line-height: 190%;
  word-spacing: 1px;
  color: #ffffff;
}
#content1 p{
  margin-bottom: 15px;
  margin-top: 10px;
}
.read_view{
  display: inline-block;
  margin-top: 24px;

}
#content1 .read_view{
  margin-bottom: 155px;
}
.read_view a{
  font-family: 'proxima_nova_regular';
  font-size: 14px;
  color: #ffffff;
  background-color: #22a4bc;
  text-decoration: none;
  padding: 12px 22px;
  word-spacing: 1px;
  letter-spacing: 1px;
  display: block;
  -webkit-border-radius: 3%
}
h2{
  font-family: 'proxima_nova_extrabold';
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 3px;
  color: #22a4bc;

}
#what_we_do h2{

  margin-top: 53px;
}
#what_we_do p{
  margin-top: 15px;
  border-bottom-style: solid;
  border-width:1px ;
  border-bottom-color:#c8d3d9 ;
  padding-bottom: 24px;
}
#content2{
margin-bottom: 40px;
}
#what_we_do  .unstyed_inline li{
  font-size: 14px;
  width: 300px;
  height:123px;
  text-align: center;
  margin-top: 30px;
  vertical-align: top;
}
#what_we_do .unstyed_inline span{
  color: #a1a1a1;
  display: block;
  height: 38px;
}
#what_we_do .img {
  height: 52px;
  margin-bottom: 27px;
}
#desk {
  background-color: #325568;
}
#desk h2{
  color:#249bb2 ;
  padding: 53px;
}
#desk p{
  color: #6e9db8;
  margin-top: -36px;
  margin-bottom: 40px;
}
#content3{
  margin-bottom: 22px;
}
#desk .read_view{
  margin-bottom: 38px;
}
.circle{
  width:219px;
  height: 219px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin-right: 16px;
  overflow: hidden;
}
#circle_1{
 position: relative;
  display: inline-block;
}
#circle_1 p{
  position: absolute;
  top: 123px;
  left:35px;
  font-family: "proxima_nova_semibold";
  color: #ffffff;
  word-spacing: 3px;
  letter-spacing: 1px;
}
#circle_4{
  margin-right:0px;
}
#logo_full{
  width: 1023px;
}
#logo_full .unstyed_inline{
  margin-top:35px;
  margin-left: -40px;
}
#logo_full .unstyed_inline li{
  vertical-align: middle;
  margin-right: 29px;
}
#logo_full .unstyed_inline span{
  display: block;
}
#about_us{
  margin-top: 25px;
  border-top: 1px dotted #929292;
  padding-top: 36px;
  margin-bottom:65px ;
}
#about_us h1{
  font-family: proxima_nova_extrabold;
  font-size: 100px;
  color: #22a4bc;
}
#about_us p{
  margin-top: 18px;
  color: #545454;
  font-size: 18px;
}
#content4 div{
  display: inline-block;
}
#content4 h2{
  margin-bottom: 40px;
  text-align: left;
}
#content4 p{
  text-align: left;
}
#our_vision {
  width: 62%;
  margin-right: 30px;
}
#our_vision p{
  margin-bottom: 10px;
  color: #545454;
}
#our_team{
  width: 34%;
  vertical-align: top;
}
.img_circle{
  width: 64px;
  height: 64px;
  -webkit-border-radius: 50%;
  display: inline-block;
  margin-left: -42px;
  margin-right: 10px;
  overflow: hidden;
}
.profile div{
  display: inline-block;
}
.profile{
  margin-bottom: 37px;
}
.member h3{
  font-family: proxima_nova_semibold;
  font-size: 16px;
  color: #545454;
  text-align: left;
}
.member p{
  color: #ababab;
  font-size: 12px;
  text-align: left;
}
.member{
  width: 212px;
  text-align: left;
}
.icons li{
  margin-left: 5px;
}
#our_team .read_view{
  margin-top: 40px;
  margin-left: -50px;
}
#footer_1{
  background: url("../images/background_footer_02.png");
  width: 0 auto;
}
#footer p{
  letter-spacing: 1px;
}
#footer_1{
  padding: 50px;
  margin-top: 70px;
}
#content5{
  margin-top: 35px;
}
#content5 span{
  display: inline-block;
  vertical-align: middle;
}
#content5 p{
  margin-left: 10px;
}
#address span{
  vertical-align: top;
}
.contact{
  text-align: left;
  width: 35%;
  margin-bottom: 20px;
}
.form{
  text-align: left;
  margin-top: 30px;
  margin-bottom: 25px;
}
.form ::-webkit-input-placeholder {
  font-style: italic;
  color: #6895ae;
}
input{
  height: 40px;
  background: #204458;
  width: 331px;
  border: none;
  font-family: proxima_nova_lightit;
  font-size: 12px;
  word-spacing: 1px;
  letter-spacing: 1px;
  padding-left: 15px;
  margin-top: 2px;
  color: #fff;
}
button{
  height: 40px;
  width: 134px;
  margin-left: -4px;
  background: #22a4bc;
  color: #fff;
  border: none;
  font-size: 12px;
  padding: 0 15px;
  font-family: proxima_nova_regular;
  font-size: 12px;
  word-spacing: 1px;
  letter-spacing: 1px;
}
input button{
  line-height:normal ;
}
#logo2 span {
  display: inline-block;
  font-size: 16px;
  font-family: 'proxima_nova_bold';
  vertical-align: middle;
  letter-spacing: 1px;
  color: #a0abb1;
}
.logo3{

}
#logo2{
  margin-top: 30px;
  margin-bottom: 25px;
}

@media only screen and (min-width:630px) and (max-width:970px) {
  .container {
    width: 650px;
  }
  #content_page1 h1{
    font-size: 21px;
  }
  #content1 .read_view {
    margin-bottom: 112px;
  }
  #what_we_do .unstyed_inline li {
    width: 208px;
  }
  #content2{
    zoom: 0.9;
  }
  .circle{
    margin-bottom: 16px;
  }
  #content3{
    zoom:0.95;
  }
  #logo_full{
    zoom:0.7;
  }
  #about_us{
    font-size: 16px;
  }
  #about_us img{
    zoom:0.8;
  }
  #our_vision{
    width:55% ;
    margin-right: ;
  }
  #our_team{
    width: 34%;
  }
  .member{
    width: 151px;
  }
  .profile{
    margin-bottom:40px ;
  }
  input{
    width:300px;
  }
  button{
    width:111px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 630px) {
  .container{
    width: 336px;
  }
  #logo1{
    margin-top: 120px;
    zoom:0.8;
  }
  #content_page1 h1{
    font-size: 23px;
    word-spacing: 6px;
    letter-spacing: 7px;

  }
  #content1 .read_view {
    margin-bottom: 100px;
  }
  #content2{
    zoom:0.8;
  }
  #what_we_do .unstyed_inline li{
    width: 136px;
    height:130px;
  }
  #content3{
    zoom:0.7;
  }
  #content3 .circle{
    margin-bottom: 18px;
  }
  #logo_full{
    zoom:0.55;
    width: 450px;
    margin-left: 110px;
  }
  #about_us img{
    zoom:0.7;
  }
  #about_us p{
    font-size: 15px;
  }
  #our_vision{
    width: 100%;
    margin-right: 0px;
  }
  #our_team{
    width: 100%;
  }
  #our_team .read_view{
    margin-left: 20px;
    margin-top: 25px;
  }
  .contact{
    width: 300px;
  }
  input{
    width: 220px;
  }
  button{
    width:100px ;
    padding: 0px;
  }
  #footer_2{
    zoom:0.9;
  }

}